@model IEnumerable<LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Types</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i> Create New</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultDays)
                </td>
                <td class="text-end">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-xl fa-solid fa-pencil"></i></a>
                    <a class="btn btn-info mx-2" asp-action="Details" asp-route-id="@item.Id"><i class="fa-xl fa-solid fa-circle-info"></i></a>  
                    <button data-id="@item.Id" data-name="@item.Name" class="btn btn-danger deleteBtn" type="button"><i class="fa-xl fa-solid fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Delete" id="deleteForm">
    <input type="hidden" id="leaveTypeId" name="Id" />
</form>

@section Scripts {
    <script>
        $(function () {

            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {

                var btn = $(this);
                var id = btn.data("id");
                var name = btn.data("name");

                swal({
                    title: "Are you sure?",
                    text: "Delete entry: " + name,
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                }, function (confirm) {
                    if (confirm) {
                        $("#leaveTypeId").val(id);
                        $("#deleteForm").submit();
                    }
                });
            });
        });
    </script>
    }